<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleados con Mayor Salario</title>
</head>
<body>
<div class="container">
    <h1>Empleados con Mayor Salario en la Empresa</h1>
    <form class="input-group mb-lg-3" method="post" th:action="@{/Search/busqueda}">                <!-- COMPLETAR -->
        <div class=" input-group ">
            <div CLASS="col-9 justify-content-around">
                <input type="text" class="form-control"  th:value="${texto}" placeholder="Salario a buscar" name="textBuscador">
            </div>
            <div CLASS="col-auto justify-content-end">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
                <a class="btn btn-outline-danger" th:href="@{/Search/Salario}" >Limpiar</a>
                <a class="btn btn-primary" type="submit" th:href="@{/Search/Salario}" >Regresar</a>
            </div>
        </div>

    </form>
    <div th:if="${error != null}" th:text="${error}" class="alert alert-danger" role="alert"></div>
    <table class="table" align="left">
        <thead>
        <th >
            Nombre
        </th>
        <th >
            Apellido
        </th>
        <th >
            Fecha de Inicio
        </th>
        <th >
            Fecha fin
        </th>
        <th>
            Puesto
        </th>
        </thead>
        <tbody>

        <tr th:each="history, v : ${listaEmpleadosMayorSalario}">
            <td th:text="${history.employee.first_name}">Mark</td>
            <td th:text="${history.employee.last_name}">Otto</td>
            <td th:text="${history.hiredate.substring(0,10)}">Otto</td>
            <td th:text="${history.enddate.substring(0,10)}">Otto</td>
            <td th:text="${history.job.jobtitle}">@mdo</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>